$images: ('https://raw.githubusercontent.com/QuinnW/flowTab/master/assets/bg.jpg', 'https://raw.githubusercontent.com/QuinnW/flowTab/master/assets/bg2.mp4',  'https://s3-us-west-2.amazonaws.com/s.cdpn.io/55764/me-sketch-no-fill.png');
$img: nth($images, random(length($images)));

html
  background: url(img.jpg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

#clock
  margin: 0
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  opacity: .9
  color: white
  font-size: 150px
  font-weight: bold
  font-family: helvetica

h1
  margin: 0
  position: absolute
  top: 5%
  left: 10%
  transform: translate(-50%, -50%)
  color: white
  font-size: 50px
  font-family: arial
