html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#clock {
  padding: 200px 0;
  text-align: center;
  opacity: .9;
  color: white;
  font-size: 150px;
  font-weight: bold;
  font-family: helvetica;
}
#todoList {
  display: none;
  width: 290px;
  max-height: 350px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  bottom: 50px;
  right: 28px;
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
}
#todoList {
  max-height: 380px;
}
