body {
  background: url(http://cdn.leoh.io/images/base_zero/image_129.jpg);
  color: white;
}
#clock {
  text-align: center;
  margin-top: 10%;
  font-size: 120px;
  font-weight: bold;
  font-family: helvetica;
}
