.bg {
  background-image: url("http://cdn.leoh.io/images/base_zero/image_246.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#clock {
  color: white;
  text-align: center;
  margin-top: 10%;
  font-size: 120px;
  font-weight: bold;
  font-family: helvetica;
}
